<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>WIT Community</title>
<!--    <link rel="stylesheet"-->
<!--          href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" />-->
    <script src="https://kit.fontawesome.com/9dc3f68324.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but wit_bbs_client doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
