<template>
  <el-row class="main-container" style="text-align: center">
    <h2>Update User Info</h2>
    <el-form status-icon :rules="updateRules" :model="updateForm" ref="updateForm">
      <el-row>
        <el-col>
          <el-form-item label="" prop="username">
            <el-input name="username" v-model="updateForm.username" placeholder="username"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col>
          <el-form-item label="" prop="email">
            <el-input name="email" v-model="updateForm.email" placeholder="email"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col>
          <el-form-item label="" prop="password">
            <el-input name="password" v-model="updateForm.password" type="password" placeholder="password"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col>
          <el-form-item label="" prop="comparePassword">
            <el-input name="comparePassword" v-model="updateForm.comparePassword" type="password" placeholder="confirm password"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-button style="width: 40%" type="primary" @click="submitForm()">UPDATE</el-button>
  </el-row>
</template>

<script>
import UserService from '../../services/UserService'
export default {
  name: 'update',
  data () {
    return {
      updateForm: {
        username: '',
        email: '',
        password: '',
        comparePassword: ''
      },
      updateRules: {
        username: { type: 'string', required: true, min: 3, max: 20, message: 'Username must be between 3 and 20 characters', trigger: 'blur' },
        email: { type: 'email', required: false, message: 'The Email is invalid', trigger: 'blur' },
        password: { type: 'string', required: true, min: 6, max: 30, message: 'Password must be at least 6 characters long', trigger: 'blur' },
        comparePassword: {
          type: 'string',
          required: true,
          trigger: 'blur',
          validator: (rule, value, callback) => {
            if (value === '') {
              callback(new Error('Please enter the password again'))
            } else if (value !== this.updateForm.password) {
              callback(new Error('Password and Confirm Password are inconsistent!'))
            } else {
              callback()
            }
          }
        }
      }
    }
  },
  created () {
    if (this.$store.state.isUserLogin) {
      this.updateForm.username = this.$store.state.user.username
      this.updateForm.email = this.$store.state.user.email
    }
  },
  methods: {
    async submitForm () {
      if (!this.$store.state.isUserLogin) {
        this.$message.warning({
          message: 'Please login',
          center: true
        })
      } else {
        this.$refs['updateForm'].validate(async (valid) => {
          if (valid) {
            this.error = ''
            try {
              const response = await UserService.update({
                _id: this.$store.state.user._id,
                username: this.updateForm.username,
                email: this.updateForm.email,
                password: this.updateForm.password
              })
              if (response.data.code === 0) {
                this.error = response.data.msg
              } else {
                this.$message.success({
                  message: 'Update successfully',
                  center: true
                })
                this.$refs['updateForm'].resetFields()
              }
            } catch (e) {
              this.error = 'Failed to update. Please retry later'
            }
          }
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .main-container {
    height: 100%;
    background: white;
  }

  .create-container {
    background: white;
  }

  .rule-container {
    background: white;
  }

  h1 {
    font-size: 40px;
    padding-top: 10px;
    font-weight: normal;
    margin-bottom: -10px;
  }

  h2 {
    font-weight: normal;
  }

  .title-icon {
    margin-left: 15px;
    margin-right: 10px;
  }

  .el-form-item {
    width: 80%;
    margin-left: 10%;
  }

  .el-button {
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .error-msg {
    margin-bottom: 3%;
    color: red;
  }

  .msg {
    margin-bottom: 3%;
    color: lightgreen;
  }
</style>
